{
  "singleQuote": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.html", "*.json", "*.config.js"],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 80,
  "semi": false,
  "arrowParens": "always"
}
